Source: theme-manager
Version: 1.0.0-1
Section: utils
Priority: optional
Maintainer: Alerity <aleritty@aleritty.net>
Build-Depends: debhelper-compat (= 12), pkg-config, gcc, gtk+4.0
Standards-Version: 4.5.0
Package: theme-manager
Architecture: any
Depends: libc6, libgtk-4-1
Description: A GTK4 Theme Manager Application
