Source: theme-manager
Section: utils
Priority: optional
Maintainer: Alerity <aleritty@aleritty.net>
Build-Depends: debhelper-compat (= 12), pkg-config, gcc, gtk+4.0
Standards-Version: 4.5.0
Package: theme-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A GTK4 Theme Manager Application
